alias e="nano"

alias acp="apt-cache policy"


alias hax="autojump"
alias bex="bundle exec"

alias frdpg="fakeroot dpkg-git -b"
alias frebb="fakeroot dpkg-git -b"

alias c="cd"
alias l="ls -lh"
alias la="ls -lah"
alias ll="ls -lh"
alias s="sudo"

alias what="netstat -tulpn 2> /dev/null"
alias wat="netstat -tulp 2> /dev/null"

alias glg='git log --pretty=format:"%h : %ar : %s"'
alias glv="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate"
alias gfo="git fetch origin"
alias gmn="git merge --no-ff"
alias gt="git tag"
alias gfa="git fetch --all"
alias gpt="git push --tags"
alias gpa="git push --all"

alias dgb="dpkg-git -b"
alias lspkg="dpkg -l"
alias pkgls="dpkg-query -L "

alias gtfo="sudo shutdown -h now"
alias reboot="sudo reboot"
alias bed='dbus-send --system --print-reply --dest="org.freedesktop.UPower" /org/freedesktop/UPower org.freedesktop.UPower.Suspend'

alias du="du -h"
alias duf="du -h --max-depth=1"
alias dug="du -ks --exclude=.git "
alias df="df -h"

alias wfs="python -m SimpleHTTPServer 8888"
alias e="$EDITOR"
alias st="subl"
alias sanscom="grep -Pv '^#'"

# Non spring based rails stuff
alias rgm='rails g migration'
alias rgmo='rails g model'
alias rgc='rails g controller'
alias rgs='rails g scaffold'
alias rdm='rails d migration'
alias rdmo='rails d model'
alias rdc='rails d controller'
alias rds='rails d scaffold'

# rake db ops
alias rdbm='rake db:migrate'
alias rdbd='rake db:drop'
alias rdbc='rake db:create'
alias rdbmt='RAILS_ENV=test rake db:migrate'
alias rdbdt='RAILS_ENV=test rake db:drop'
alias rdbct='RAILS_ENV=test rake db:create'

# Spring based rails stuff
alias srgm='spring rails g migration'
alias srgmo='spring rails g model'
alias srgc='spring rails g controller'
alias srgs='spring rails g scaffold'
alias srdm='spring rails d migration'
alias srdmo='spring rails d model'
alias srdc='spring rails d controller'
alias srds='spring rails d scaffold'

# rake db ops
alias srdbm='spring rake db:migrate'
alias srdbd='spring rake db:drop'
alias srdbc='spring rake db:create'
alias srdbmt='RAILS_ENV=test spring rake db:migrate'
alias srdbdt='RAILS_ENV=test spring rake db:drop'
alias srdbct='RAILS_ENV=test spring rake db:create'

alias aslv="grep 'Version:' asl-* -R 2>/dev/null|grep DEBIAN|tr -s '/' ':'|cut -d':' -f1,5|column -t"

alias scroff="sleep 1 && xset dpms force off"

# Aptly
#alias ara="aptly repo add --force-replace"
#alias apu="aptly publish update --skip-signing --force-overwrite"



# Vagrant
alias vgi="vagrant init"

alias vup="vagrant up"
alias vd="vagrant destroy"
alias vdf="vagrant destroy -f"

alias vssh="vagrant ssh"
alias vrdp="vagrant rdp"

alias vh="vagrant halt"
alias vssp="vagrant suspend"
alias vst="vagrant status"
alias vre="vagrant resume"

alias vpr="vagrant provision"
alias vr="vagrant reload"
alias vrp="vagrant reload --provision"

alias vp="vagrant push"
alias vsh="vagrant share"

alias vba="vagrant box add"
alias vbr="vagrant box remove"
alias vbl="vagrant box list"
alias vbo="vagrant box outdated"
alias vbu="vagrant box update"

alias vpli="vagrant plugin install"
alias vpll="vagrant plugin list"
alias vplun="vagrant plugin uninstall"
alias vplu="vagrant plugin update"




alias y='echo -n "\nHA! NOOB!\n\n"'


#alias logvars="grep -P 'loggedvar|dblogvar' "



#alias goset="source \`goenv\`"


alias piu="netstat -tulpna | grep "




alias scs="sudo systemctl start"
alias scr="sudo systemctl restart"
alias sct="sudo systemctl status"
alias scx="sudo systemctl stop"
alias sce="sudo systemctl enable"
alias scd="sudo systemctl disable"


alias gst="git status|head -1 &&  git status -s"
