alias c="cd"
alias l="ls -lah"
alias ll="ls -lh"
alias s="sudo"

alias what="netstat -tulpn 2> /dev/null"
alias wat="netstat -tulp 2> /dev/null"

alias glg='git log --pretty=format:"%h : %ar : %s"'
alias glv="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate"
alias gfo="git fetch origin"
alias gmn="git merge --no-ff"
alias gt="git tag"
alias gfa="git fetch --all"
alias gpt="git push --tags"
alias gpa="git push --all"

alias dgb="dpkg-git -b"
alias lspkg="dpkg -l"

alias gtfo="sudo shutdown -h now"
alias reboot="sudo reboot"
alias bed='dbus-send --system --print-reply --dest="org.freedesktop.UPower" /org/freedesktop/UPower org.freedesktop.UPower.Suspend'

alias du="du -h"
alias duf="du -h --max-depth=1"
alias dug="du -ks --exclude=.git "
alias df="df -h"

alias wfs="python -m SimpleHTTPServer 8888"
alias e="$EDITOR"
alias st="sublimetext2"
alias sanscom="grep -Pv '^#'"

# Non spring based rails stuff
alias rgm='rails g migration'
alias rgmo='rails g model'
alias rgc='rails g controller'
alias rgs='rails g scaffold'
alias rdbm='rake db:migrate'
alias rdbmt='RAILS_ENV=test rake db:migrate'

# Spring based rails stuff
alias srgm='spring rails g migration'
alias srgmo='spring rails g model'
alias srgc='spring rails g controller'
alias srgs='spring rails g scaffold'
alias srdbm='spring rake db:migrate'
alias srdbmt='RAILS_ENV=test spring rake db:migrate'

alias aslv="grep 'Version:' asl-* -R 2>/dev/null|grep DEBIAN|tr -s '/' ':'|cut -d':' -f1,5|column -t"

alias scroff="sleep 1 && xset dpms force off"
