set autoindent
set nowrap
set const
set smarthome
set tabsize 2
set tabstospaces

## HTML
include "~/.nano/html.nanorc"

## Patch files
include "~/.nano/patch.nanorc"

## Perl
include "~/.nano/perl.nanorc"

## Python
include "~/.nano/python.nanorc"

## Ruby
include "~/.nano/ruby.nanorc"

## Bourne shell scripts
include "~/.nano/sh.nanorc"

## CSS
include "~/.nano/css.nanorc"

## php
include "~/.nano/php.nanorc"

## XML
include "~/.nano/xml.nanorc"

## Lua
include "~/.nano/lua.nanorc"

include "~/.nano/yaml.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/apacheconf.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/zshrc.nanorc"
